<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>

<div>
  <ion-card>
    <img alt="Banca 08" src="https://scontent.fcfc2-1.fna.fbcdn.net/v/t39.30808-6/333610144_3370100443242250_57359956714595107_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5614bc&_nc_eui2=AeE4ejn6QbXUW-ryC5hPVWHhtnWxXPf7I-y2dbFc9_sj7AjQK3rAHLBEKVNjtiOfaj6H0BTSzSzal5_S3BLFOoyG&_nc_ohc=2mDX4Tn9moIAX8jpKFx&_nc_ht=scontent.fcfc2-1.fna&oh=00_AfBru0Qd8nA4Ps7QS-CraML9UvdDrGeXd6lcgy25tnGiCA&oe=65040E41" />
    <ion-card-header>
      <ion-card-title>Banca 08</ion-card-title>
      <ion-card-subtitle>Dona Araci</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Frutas e verduras
    </ion-card-content>
  </ion-card>
</div>

<div>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Feirante 1</ion-card-title>
      <ion-card-subtitle>Produtos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Contato Whatsapp
    </ion-card-content>
  </ion-card>
</div>

<div>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Feirante 1</ion-card-title>
      <ion-card-subtitle>Produtos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Contato Whatsapp
    </ion-card-content>
  </ion-card>
</div>

<div>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Feirante 1</ion-card-title>
      <ion-card-subtitle>Produtos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Contato Whatsapp
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
